.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

li {
    width: 90%;
    word-wrap: break-word;
        /* Wrap long words that exceed the max-width */
}