.grid-container {
    display: grid;
    --border-width: 3px;
    border: var(--border-width) solid black;
    background-color: black;
    gap: var(--border-width);

    -webkit-user-select: none;
    /* Safari */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* IE10+/Edge */
   
    user-select: none;
    /* Standard syntax */
}