.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.clue-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 5%;
    cursor: default; 
}

.banner-name {
    width: 90%;
    padding: 0 10%;
    padding-bottom: 5%;
    font-weight: 600;
    font-size: 24px;
}

.clue-item {
    padding: 5% 10%;
    width: 90%;
    word-wrap: break-word;
    /* Wrap long words that exceed the max-width */
    font-size: 20px;
}