.puzzle-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.puzzle-info-container {
    padding: .5em;
    border: 1px solid #ccc;
    color: var(--text-color);
    text-decoration: none;
}

.puzzle-info-container:hover {
    background-color: #6fa535ff;
    transition: background-color 0.3s ease;
}