.puzzle-content {
    display: flex;
    flex-direction: row;
}

.title-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 500;
    font-size: 48px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 5px;
}

.win {
    margin-left: 10%;
     animation: color-change 2s infinite;
}

@keyframes color-change {
  0% { color: blue; }
  33% { color : white; }
  66% { color: red; }
  100% { color: blue; }
}